<% content_for(:navbar) do %>
  <li><%= link_to "Courses", lessons_path %></li>
  <% if @previousLesson %>
    <li><%= link_to "Previous", lesson_path(@previousLesson)%></li>
  <% end %>
  <% if @nextLesson %>
    <li><%= link_to "Next", lesson_path(@nextLesson)%></li>
  <% end %>
  <li><%= link_to "Edit Lesson", edit_lesson_path(@lesson) %></li>
  <li><%= link_to "Delete Lesson", lesson_path(@lesson),
    :data => { :confirm => "You sure?", :method => "delete"} %></li>
<% end %>
<h1><%= @lesson.name %></h1>

<h5><%= @lesson.content %></h5>


<p><%= link_to "Return to Lessons", lessons_path %></p>
