<%= content_for(:navbar) do %>
  <li><%= link_to "Courses", courses_path %></li>
  <li><%= link_to "Edit", edit_course_path %></li>
  <li><%= link_to "Delete", course_path(@course),
  :data => { :confirm => "You sure?", :method => "delete"} %></li>
  <li><%= link_to "New Week", new_course_week_path(@course) %></li>
<% end %>

<%= @course.name %>

<% if @course.weeks.any? %>
  <ul>
    <% @course.weeks.each do |w| %>
    <li><%= link_to w.name, course_week_path(@course, w) %></li>
    <% end %>
  </ul>
<% end %>
